p {
  margin-top: 8px;
  margin-bottom: 8px;
}

.App {
  margin-top: 50px;
  margin-left: 30px;
  margin-right:30px;
}

.form {
  display: flex;
  flex-direction: row;
}

.list-item {
  display: flex;  
  flex-direction: row;
  justify-content: space-between;
  max-height: 40px;
}

.search-field {
  width: 100%;
  padding: 10px 35px 10px 15px;
  border-radius: 100px;
  border: 1px solid;
  outline: none;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
  margin-top: 8px;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.selectable {
  cursor: pointer;
}

.selected {
  background-color: antiquewhite;
}

.add-new-item {
  justify-content: space-between;
}